#clear {
clear:both;	
	
}
a {
border:0;	
	
}
img {
border:0;	
	
}
div.slideshow img {
	border: 1px solid #6a6a6a;
	width:auto;
	height:auto;
	position:relative;
}
#thumbs img {

border: 1px solid #6a6a6a;	
	
}

#mainbody-container {
	margin: 0 auto;
width: 600px;
-webkit-font-smoothing: antialiased;
margin-bottom: 25px;	
}
#logo-container {
position: absolute;
z-index: 2;
margin-top: -91px;
margin-left: -2px;
height: 120px;
}
#mainbox {
	margin: 0 auto;
width: 615px;
margin-top: 150px;
background-color: #e2e1e1;
padding-bottom: 25px;
}
#nav {
padding-top: 1px;
width: 150px;
float: left;	
height: 210px;
	
}
#border {
	width: 110px;
height: 1px;
border-top: 1px solid #494848;
position: absolute;
margin-top: 230px;
margin-left: 17px;

	
}
#text {
width: 300px;
margin: auto;
padding-left: 15px;
padding-bottom: 25px;
padding-top: 10px;
float: left;
line-height: 1.6;
border-top: 1px solid #666;
margin-top: 15px;
}
#photoarea {
	margin-left: 143px;
	
}
#thumbs {
	padding-left: 18px;
width: 456px;
}

#slideshow {
width: 452px;
margin-left: 7px;
float: left;
z-index: 3;
display: block;
overflow: hidden;
margin-top: 15px;
}

#gallerytitle {
	position: absolute;
z-index: 3;
margin-left: 420px;

	
}
#caption {
width: 120px;
position: absolute;
margin-top: 260px;
margin-left: 15px;
border-top: 1px solid #555555;
border-bottom: 1px solid #555555;
padding-top: 5px;
padding-bottom: 10px;
overflow: hidden;
}

#navbox {
	float:left;
	width:130px;
	height:200px;
}
#footer {
	height: 5px;
width: 300px;
margin: auto;
border-top: 1px solid #666;
padding-top: 3px;
font-size: 12px;
margin-top: 25px;
}


li.thumb {
	padding-right: 12px;
margin-top: 6px;
float: left;
	
}
ul.thumbs {
width: 465px;
display: block;
overflow: hidden;
float:left;
margin-top: 0px;
float: left;
}
ul.mainnav {
	margin-left: 15px;
	
}
ul.mainnav li {
	padding-top:5px;
	padding-bottom:5px;
	
}
#easteregg {
height:15px;
width:15px;
	
}

ul {
	list-style:none;
	margin-left:0;	
	padding-left:0;
	
}

li {
	font-size: 12px;

}
#logolink {
	width: 550px;
height: 100px;
margin-top: -120px;
position: absolute;
z-index: 2;
background-image:url(../images/bizarrehack.png);
background-repeat:repeat;
}
