@font-face {
    font-family: 'Space Grotesk';
    src: local('Space Grotesk Regular'), local('SpaceGrotesk-Regular'),
        url('hinted-SpaceGrotesk-Regular.woff2') format('woff2'),
        url('hinted-SpaceGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

