@font-face {
    font-family: 'Crimson Text';
    src: local('Crimson Text SemiBold'), local('CrimsonText-SemiBold'),
        url('hinted-subset-CrimsonText-SemiBold.woff2') format('woff2'),
        url('hinted-subset-CrimsonText-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: local('Fira Code Light'), local('FiraCode-Light'),
        url('hinted-subset-FiraCode-Light.woff2') format('woff2'),
        url('hinted-subset-FiraCode-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

