<link rel="import" href="components/polymer/polymer.html">
<link rel="import" href="components/core-icon-button/core-icon-button.html">
<paper-shadow z="1">
<polymer-element name="post-card">
  <template>
    <style>
    :host {
      display: block;
      position: relative;
      background-color: white;
      padding: 20px;
      width: 100%;
      font-size: 1.2rem;
      font-weight: 300;
	  box-shadow: 2px 2px 2px #948F8F;
    }
    .card-header {
      margin-bottom: 10px;
    }
    polyfill-next-selector { content: '.card-header h2'; }
.card-header ::content h2 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 300;
}
polyfill-next-selector { content: '.card-header img'; }
.card-header ::content img {
  width: 100px;
  border-radius: 50%;
  margin: 10px;
}
core-icon-button {
  position: absolute;
  color: #242323;
}
core-icon-button.one { bottom: 3px;
  right: 3px;}
  core-icon-button.two { bottom: 3px;
  right: 48px;}
:host([favorite]) core-icon-button {
  color: #da4336;
}
    </style>
	<div class="card-header" layout horizontal center>
  <content select="img"></content>
  <content select="h2"></content>
</div>
<content><!-- CARD CONTENTS GO HERE --></content>
    
  <div class="card-footer" layout horizontal center> <a href="mailto:me+site@elliotberry.com"><core-icon-button class="one"
  id="mail"
  icon="mail"></core-icon-button></a> 
</core-icon-button>
<a href="https://www.linkedin.com/pub/elliot-berry/48/b02/9ba" target="_blank"><core-icon-button class="two"
  id="linkedin"
  src="images/linkedin.svg"></core-icon-button></a>
</div>
  </template>
  <script>
  Polymer({});
  </script>
</polymer-element>
  </paper-shadow>