.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
.section{
	text-align:center;
}
#Tint {
background-image:url(../images/bgshade.png);
background-repeat:repeat;
position:absolute;
top:0;
bottom:0;
right:0;
left:0;
z-index:1;
}
#Scrollit {
position:fixed;
top:10px;
left:10px;
font-size:1.2em !important;
z-index: 2;
font-size:16px;
}
#Scrolliticon{
font-size:40px;
font-family: 'Elusive-Icons';
content: "\e6ad";
}
#TextBox {
width: 70%;
padding-left: 15%;
padding-right: 15%;
}
#TextBox2 {
width: 50%;
padding-left: 25%;
padding-right: 25%;
text-align: left;
}
#TextBox2 h1, #TextBox2 h3, #TextBox2 h2 {
text-align: center;
}
div.Stuff {
z-index: 7;
position:relative;
}
img.bgg {
width: 100%;
height: auto;
}
img.bg {
	z-index:1;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
#TextBox, #TextBox2 {

}
@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
#planebg {
background: url(../images/planefade.png) no-repeat center center fixed;
}
#basebg {
background: url(../images/basebg.png) no-repeat center center fixed;
}
#helibg {
background: url(../images/helibg.png) no-repeat center center fixed;
}
#townbg {
background: url(../images/townbg.png) no-repeat center center fixed;
}
.photobg {
position: absolute;
opacity: 0.6;
width: 100%;
height: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/screenshot1.png', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/screenshot1.png', sizingMethod='scale')";
top: 0;
bottom: 0;
left: 0;
right: 0;
}
#TextBox p {
font-size:1em !important;
}

@media (max-width: 800px) {
#TextBox {
width: 80%;
padding-left: 10%;
padding-right: 10%;
}
#TextBox2 {
width:80%;
padding-left:10%;
padding-right:10%;
}
p {
font-size:19px !important;
}
h1 {
font-size:40px !important;
}
h2 {
font-size:30px !important;
}
h3 {
font-size:25px !important;
}
.icon

}
@media (max-width: 650px) {


)
@media (max-width: 500px) {
h1 {

}
h2 {

}
h3 {

}
}
@media (max-width: 320px) {

}
