
@font-face {
    font-family: 'clear_sansbold';
    src: url('../fonts/clearsans-bold-webfont.eot');
    src: url('../fonts/clearsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/clearsans-bold-webfont.woff') format('woff'),
         url('../fonts/clearsans-bold-webfont.ttf') format('truetype'),
         url('../fonts/clearsans-bold-webfont.svg#clear_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'clear_sans_lightregular';
    src: url('../fonts/clearsans-light-webfont.eot');
    src: url('../fonts/clearsans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/clearsans-light-webfont.woff') format('woff'),
         url('../fonts/clearsans-light-webfont.ttf') format('truetype'),
         url('../fonts/clearsans-light-webfont.svg#clear_sans_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'clear_sans_mediumregular';
    src: url('../fonts/clearsans-medium-webfont.eot');
    src: url('../fonts/clearsans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/clearsans-medium-webfont.woff') format('woff'),
         url('../fonts/clearsans-medium-webfont.ttf') format('truetype'),
         url('../fonts/clearsans-medium-webfont.svg#clear_sans_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Elusive-Icons';
  src:url('../fonts/Elusive-Icons.eot');
  src:url('../fonts/Elusive-Icons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Elusive-Icons.svg#Elusive-Icons') format('svg'),
    url('../fonts/Elusive-Icons.woff') format('woff'),
    url('../fonts/Elusive-Icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.icon {
font-family: 'Elusive-Icons';
margin: 0px !important;
}
.bigassicon {
font-size: 150px !important;
}
.computa:before {
content: "\e646";
}
.cog:before {
content: "\e604";
text-align: center;
}
.mail:after {
content: "\e6e1";
}
body {
font-family: 'clear_sans_lightregular', helvetica, arial, sans-serif;
color: #F6F3F3;
text-shadow: 2px 2px 2px #272424;
font-weight: 200;
}
.started:before {
font-family: 'Elusive-Icons';
content: "\e666";
text-decoration:none;
}
.question:before {
content: "\e61f";
}
a {
color: #F6F3F3 !important;
}
p, ol, ul, li {
font-size:20px;
font-family: 'clear_sans_lightregular', helvetica, arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
line-height:1em;
font-family: 'clear_sans_lightregular', helvetica, arial, sans-serif;
}
h1{
	font-size: 50px;
}
h2{
	font-size: 40px;	
}
h3{
	font-size: 30px;	
}